:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

app-nav {
  height: 60px;
  width:100%;
}

article {
  flex: 1;
  height: 100%;
  transition: opacity 0.6s ease;
  opacity: 1;
  overflow-y: auto;
}
.fade-out {
  opacity: 0;
}
