.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000b0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.loading-spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #000000b0;
}
.loading-spinner {
  width: 50px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 3px #fff inset;
  border-radius: 50%;
  position: relative;
  animation: l11 7s infinite;
}

  .loading-spinner:before,
  .loading-spinner:after {
    content: "";
    position: absolute;
    top: calc(100% + 3px);
    left: calc(50% - 12.5px);
    box-shadow: inherit;
    width: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
    transform-origin: 50% -28px;
    animation: l11 1.5s infinite;
  }

  .loading-spinner:after {
    animation-delay: -0.75s;
  }

@keyframes l11 {
  100% {
    transform: rotate(360deg);
  }
}
.loading-text {
  margin-top: 20px;
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}

  .loading-text:before {
    content: "Cargando..."
  }

@keyframes l4 {
  to {
    clip-path: inset(0 -1ch 0 0)
  }
}
