:host {
  display: block;
  width: 100%;
  height: 100%;
}
app-input-condition-treenode {
    vertical-align:top;
  display: inline-block;
  width: 25%;
  overflow-x:auto;
  overflow-y:hidden;
}
app-input-condition-gridnode {
  vertical-align: top;
  display: inline-block;
  width: 75%;
}
div{
    height:100%;
}


