.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: #3d464f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.modal-content-body {
  width: 100%;
  flex: 1 1 0;
}
.modal-content-header {
  width: 100%;
  flex: 0 0 auto;
}
.modal-content-header > h2 {
  float: left;
  padding: 0px 0px 5px 20px;
  color: #f2fff2;
}
.modal-content-header > app-icon-button {
    width:32px;
  float: right;
}
