:host {
  display: block;
  width: 100%;
  height: 100%;
}

button {
  align-items: center;
  background-color: #212529;
  border: 2px solid #495057;
  border-radius: 5px;
  box-sizing: border-box;
  color: #f2fff2;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 100%;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}
button:hover {
  background-color: #31373d;
}



