:host {
  width: 100%;
  height: 100%;
}
.treenode-container {
    
  border-left: 1px solid white;
  border-radius: 5px;
  padding: 0px;
  padding-left:15px;
}
.treenode-header {
  color: white;
  font-weight: normal;
  height: 30px;
  text-align: left;
  white-space: nowrap;
}
.treenode-header > span {
  margin-left: 5px;
}
.treenode-body {
  margin-left: 8px;
}
