:host {
  display: block;
  width: 100%;
  height: 100%;
}

.gallery-container {
  display: flex;
  width: 100%;
  height:125px;
}

.gallery-container-arrows {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

  .gallery-container-arrows > div {
    height: 50px;
    width: 50px;
  }

.gallery-container-center {
  flex: 1;
  overflow-x: auto;
  display: flex;
  align-items: center;
}

.img {
  padding: 3px;
  display: inline-block;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.img-fit {
  max-width: 200px;
  max-height: 100px;
  height: auto;
  width: auto;
}
.selected{
    background-color:white;
}
.img-big {
  max-width: 100%; 
  max-height: 100%; 
  height: auto;
  width: auto;
}
.container {
  height: 100%;
  width: 100%;
}

.pic {
  height: calc(100% - 125px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  height: 125px;
}
