:host {
  width: 100%;
  height: 100%;
}

section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  text-align: center;
  width: 100%;
  padding: 10px 0;
  font-size: 24px;
  font-weight: bold;
  flex: 0 0 auto;
  color: white;
}


.content {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.card {
  width: 200px;
  padding: 20px;
  color: #ddd;
  border: solid 1px #ddd;
  border-radius: 8px;
  text-align: center;
  gap: 20px !important;
  background-color: #08002b80;
}

  .card > div {
    display: block;
    padding: 5px;
  }

.card-icon > span {
  font-size: 40px;
}

.card-header {
  font-size: 25px;
  font-weight: bold;
}
.card-info {
  font-size: 20px;
}
.card-option:hover {
  background-color: #5700d580;
}
.card-new:hover {
  background-color: #5700d580;
}
