:host {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #08002b80;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.nav-option {
  margin-right: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius:20px;
}
  .nav-option:hover {
    background-color: #17037080;
  }
.nav-left div:last-child {
  margin-right: 0;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-option-body {
  display: flex;
  align-items: center; 
  gap: 8px;
}
.selected {
  background-color: #2f00ff80;
}
