:host {
  display: block;
  width: 100%;
  height: 100%;
}
.accordion-header {
  display: block;
  width: auto;
  overflow: hidden;
  border: 2px solid #495057;
  border-radius: 10px;
  background-color: #031633;
  color: #6ea8dd;
  padding:4px 20px;
}
.accordion-header > h2 {
  float: left;
  width: auto;
  font-size:15px;
}
.accordion-header > app-icon-button {
  float: right;
  width: auto;
}

.accordion-body {
  display: block;
  border-left: 1px solid #495057;
  border-right: 1px solid #495057;
  border-bottom: 1px solid #495057;
  border-top: none;
  padding: 15px 8px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.6s ease, opacity 0.6s ease;
}
  .accordion-body.show {
    max-height: 5000px;
    opacity: 1;
  }
