* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

html {
  background-color: black;
  color:white;
}

.clickable {
  cursor: pointer;
}

.form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form-container-body {
  flex: 1;
}
.form-container-bottom {
  height: 100px;
}
.form-container-body-item {
  padding:20px;
}
  .form-container-body-item > div {
    padding: 10px;
    width: 100%;
  }
